{% extends 'base.html.twig' %}

{% block title %}
Réinitialisation --mot de passe 
{% endblock %}

{% block content %}


<div class="container col-xs-12 col-md-4 d-flex justify-content-center align-items-center" style ="height : 60vh">


<div class="card shadow-lg">
  <div class="card-body">
    <h5 class="card-title"> Réinitialisation de mot de passe</h5>
     {{ form(form) }}
    </div>
  </div>
</div>
</div>
</div>


{% endblock %}