{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block content %}
<h1 class="text-center text-info text-uppercase">
Mes informations personnelles 
</h1>
<form action="" method="post" enctype="multipart/form-data">
<label for="picture" class="label-file">Choisir son image de profil</label>
<input type="file" name="picture" id="picture" class="input-file">
<select class="form-select" aria-label="Default select example" name="age">
  <option selected>Age : </option>
{% for i in 18..100 %}
  {# <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option> #}
  <option value="{{i}}">{{i}}</option>
{% endfor %}
</select>
<button type="submit">valider</button>
</form>
       


{% endblock %}
