<h1>Activez votre compte</h1>


<p>Bonjour
	<span class="text-primary mx-2">
		{{user.username}}</span>
</p>


<p>Votre inscription sur le site e-commerce est à valider en cliquand sur le lien ci-dessous
</p>
<p>
	<a href="{{absolute_url(path('app_verify_token' , {token: token}))}}"> cliquez ici !</a>
</p>
<p>
	Ce lien expirera dans 3 heures 
</p>
